.container {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
}

.jumbotron {
    margin-top: 8rem;
}

.display {
    width: 40%;
}

.col {
    margin: 0.5rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.one {
    background-color: blue;
    border-radius: 100px 0 0 0;
}

.two {
    background-color: blueviolet;
    border-radius: 0 100px 0 0;
}

.three {
    background-color: blueviolet;
    border-radius: 0 0 0 100px;
}

.four {
    background-color: blue;
    border-radius: 0 0 100px 0;
}